/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Screen layout for YAML examples
 * (de) Bildschirmlayout für YAML-Beispiele
 *
 * @copyright       Copyright 2005-2010, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.3
 * @revision        $Revision:426 $
 * @lastmodified    $Date: 2010-09-14 21:19:30 +0200 (Di, 14 Sep 2010) $
 */

@media screen, projection
{
  /** 
   * (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
   * (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
   *
   * @workaround
   * @affected IE8, FF, Webkit, Opera
   * @css-for all
   * @valid CSS3
   */

  body { overflow-y:scroll; }

  /*------------------------------------------------------------------------------------------------------*/
  
  /**
   * (en) Formatting YAML's  basic layout elements
   * (de) Gestaltung des YAML Basis-Layouts
   */

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background:#4d87c7 url("../../images/bg_blue.png") repeat-x top left fixed; /* padding:10px 0; */ }

  /* (en) Centering layout in old IE-versions */
  /* (de) Zentrierung des Layouts in alten IE-versionen */
  body { text-align:center; }
  .page_margins { text-align:left; margin:0 auto; }

  /* (en) Layout:width, background, borders */
  /* (de) Layout:Breite, Hintergrund, Rahmen */
  .page_margins { min-width:100%; background:#fff; }
  .page { padding:0 }

  #header {
    color:#000;
    background:#fff repeat-x top left;
    padding:45px 2em 1em 20px;
	position:relative;
  }

  /* (en) #topnav gets absolute positioning within #header */
  /* (de) #topnav wird innerhalb von #header absolut positioniert */
  #topnav { 
	background:transparent; 
  	color:#aaa; 
	
    position:absolute;
    top:10px;
    right:10px; /* LTR */
	text-align:right; /* LTR */
  }

  /* (en) adjustment of main navigation */
  /* (de) Anpassung der Hauptnavigation */
  #nav ul { margin-left:20px; }

  #main { background:#fff; }

  #footer {
    color:#666;
    background:#f9f9f9;
    padding:10px 20px;
    border-top:5px #efefef solid;
    line-height:1.5em;
  }

  /* (en) Backup for correct positioning */
  /* (de) Absicherung korrekte Positionierung */
  #header, #nav, #main, #footer { clear:both; }

  /*------------------------------------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   * |-------------------------------|
   * | #header                       |
   * |-------------------------------|
   * | #col1   | #col3     | #col2   |
   * | 25%     | flexible  | 25%     |
   * |-------------------------------|
   * | #footer                       |
   * |-------------------------------|
   */


  #col1 { width:25%; }
  #col1_content { padding:10px 10px 10px 20px; }

  #col2 { width:25%; }
  #col2_content { padding:10px 20px 10px 10px; }

  #col3 { margin:0 25%; }
  #col3_content { padding:10px; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * (en) Styling of layout specific elements
  * (de) Gestaltung layoutabhängiger Elemente
  */

  #header h1 {
    font-weight:bold;
    font-size:2.5em;
    letter-spacing:-2px;
    line-height:65%;
    color:#000;
  }

  #header span { color:#999; }

  #topnav a { color:#999; font-weight:normal; background:transparent; text-decoration:none; }
  #topnav a:focus,
  #topnav a:hover,
  #topnav a:active { text-decoration:underline; background-color:transparent; }

  #footer a { color:#999; background:transparent; font-weight:bold; }
  #footer a:focus,
  #footer a:hover,
  #footer a:active {color:#4D87C7; background-color:transparent; text-decoration:underline; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Skiplinks 
  *
  * (en) Visual styling for skiplink navigation
  * (de) Visuelle Gestaltung der Skiplink-Navigation
  *
  * @section content-skiplinks
  */
  
  #skiplinks a.skip:focus,
  #skiplinks a.skip:active { 
	color:#fff; 
	background:#333; 
	border-bottom:1px #000 solid;
	padding:10px 0;
	text-decoration:none;
  }
}
/*------------------------------------------------------------
	Footer
-------------------------------------------------------------*/
#footer{ width:100%; background:#171717; padding:10px 0; position: fixed; bottom:0; z-index: 9999;}
#footer ul.footer{list-style:none; margin:0 2%}
ul.footer li{display:inline; padding:0 19px}
ul.footer li a{font-size:13px; color:#fff !important; text-decoration:none !important; font-weight:normal}
ul.footer li a:hover{border-bottom:1px solid #db8815}
ul.footer li a.pull-right{float:right}
